h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}
input {
  width: 100%;
}

.todoItem-container {
  text-align: left;
}

.item-row{
  margin: 10px 5px;
}

.item-button {
  min-width: 80px;
  margin-left: 115px;
}